@import "./base.css";


body{
  position: relative;
  

  padding: 1rem 1rem;
  
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}
